body {
    font-family: Calibri, Arial, serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#788799+0,fff7e8+3,e0f0fc+98,788799+100 */
    background: #788799; /* Old browsers */
    background: -moz-linear-gradient(left,  #788799 0%, #fff7e8 3%, #e0f0fc 98%, #788799 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #788799 0%,#fff7e8 3%,#e0f0fc 98%,#788799 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #788799 0%,#fff7e8 3%,#e0f0fc 98%,#788799 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#788799', endColorstr='#788799',GradientType=1 ); /* IE6-9 */
    padding-top: 80px;
    
}

.quotes {
    margin-top: 100px;
    margin-bottom: 100px;
}

#add-issue-button {
    float: right;
}

.projects-style .dashboard-projects .issue-style .comment-button {
    margin-bottom: 100px;
}


svg {
    width: 1000px;
    height: 120px;
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    background: black;
}

.home-area {
    width: 800px;
    margin: 50px auto;
}

.user-area {
    float: right;
    font-size: 11pt;
    font-weight: normal;
    margin: 5px 5px 0 0;
}

.user-area span {
    margin-right: 15px;
}


#app-footer {
     /*Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5b7899+1,fff9ef+3,eaf3f9+98,5b7899+100 */
    background: #5b7899; /* Old browsers */
    background: -moz-linear-gradient(left,  #5b7899 1%, #cfcbc2 3%, #c9d1d6 98%, #5b7899 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #5b7899 1%, #cfcbc2 3%, #c9d1d6 98%,#5b7899 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #5b7899 1%, #cfcbc2 3%, #c9d1d6 98%,#5b7899 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b7899', endColorstr='#5b7899',GradientType=1 ); /* IE6-9 */


    clear: both;

    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: normal 16px sans-serif;
    color: white;
    padding: 45px 50px;
    margin-top: 200px;


}

.table-top-margin {
    margin-top: 50px;
}

ul.pagination {
    display: table;
    margin: 15px auto;
}

.button, .button:focus {
    color: white;
    font-size: 14px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    background: #fdffe9;
    border: 2px solid #507E32;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    margin: 5px 10px 0px 10px;
    outline: none;
}

.button:hover {
    background: #87c649;
    border: 2px solid #649636;
    text-decoration: none;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 1px;
    cursor: pointer;
}

.link {
    color: #87c649;
    text-decoration: none;
    padding: 0;
    border-bottom: 1px dotted #2E75B6;
    cursor: pointer;
}

.link:hover {
    color: #29619d;
    text-decoration: none;
}

.no-data {
    font-size: 18px;
}

.form-margin {
    margin-top: 40px;
}
