<div ng-if="authService.isLoggedIn()">
    <h2>Home Screen</h2>
    <ul ng-cloak class="list-group">
        <li ng-repeat="ad in ads.ads" class="list-group-item">
            <h1>{{ad.title}}</h1>

            <div><strong>Date:</strong> {{ad.date | date:'dd-MM-yyyy'}}</div>
            <div ng-if="ad.imageDataUrl">
                <strong>Image:</strong>
                <img class="ad-image" src="{{ad.imageDataUrl}}"/>
            </div>
            <div><strong>Text:</strong> {{ad.text}}</div>
            <div><strong>Name:</strong> {{ad.ownerName }}</div>
            <div><strong>Email:</strong> {{ad.ownerEmail}}</div>
            <div><strong>Phone:</strong> {{ad.ownerPhone}}</div>
        </li>
    </ul>


    <div ng-if="ads.ads.length==0" class="box no-data">
        No ads found.
    </div>

    <pagination ng-cloak total-items="ads.numItems" ng-model="adsParams.startPage" items-per-page="adsParams.pageSize"
                ng-change="reloadIssues()" max-size="9" boundary-links="true"></pagination>
</div>

<div ng-if="!authService.isLoggedIn()" class="home-area">
    <a href="#/login" class="button">
        <span>Login</span>
    </a>
    <a href="#/register" class="button">
        <span>Register</span>
    </a>
    <!--<a href="#" class="button">-->
    <!--<a href="#/register">Register</a>-->
    <!--</a>-->

</div>
