<div class="col-md-4">
    <h1>Issue - Info</h1>
    <ul ng-cloak class="list-group">
        <h1>{{issueData.IssueKey}}</h1>
        <label for="issueTitle">Title:</label>
        <span id="issueTitle">{{issueData.Title}}</span><br>
        <label for="issue-description">Description:</label>
        <span id="issue-description">{{issueData.Description}}</span><br>
        <label for="issue-assignee-username">Assignee Username:</label>
        <span id="issue-assignee-username">{{issueData.Assignee.Username}}</span><br>
        <label for="issue-priority-name">Priority:</label>
        <span id="issue-priority-name">{{issueData.Priority.Name}}</span><br>
        <label for="issue-due-date">DueDate:</label>
        <span id="issue-due-date">{{issueData.DueDate}}</span><br>
        <label for="issue-author">Author:</label>
        <span id="issue-author">{{issueData.Author.Username}}</span><br>
        <label for="issue-due-date">Project:</label>
        <span id="issue-project-name">{{issueData.Project.Name}}</span><br>
        <label for="issue-status">Status:</label>
        <span id="issue-status">{{issueData.Status.Name}}</span><br>
        <label for="labels">Labels:</label>
        <ul id="labels">
            <li ng-repeat="label in issueData.Labels">{{label.Name}}</li>
        </ul>
    </ul>
    <h2>Available Statuses:</h2>
    <ul>
        <li ng-repeat="availableStatus in issueData.AvailableStatuses">
            -----{{availableStatus.Name}}
            <button ng-if="userParams.isIssueAssignee || userParams.isProjectLead" ng-click="changeIssueStatus(availableStatus.Id)" class="btn-primary">Change</button>
        </li>
    </ul>
</div>

<div class="col-md-8">
    <h1>Comments  <span ng-if="issueComments.length === 0">
         - None
    </span></h1>
    <ul ng-cloak class="list-group">

        <pagination ng-cloak total-items="issueParams.numItems" ng-model="issueParams.startPage" items-per-page="issueParams.pageSize"
                    ng-change="reloadIssueComments()" max-size="3" boundary-links="true"></pagination>
        <div class="panel panel-primary" ng-repeat="issueComment in issueComments">
            <div class="panel-heading">
                <h3 class="panel-title">{{issueComment.Author.Username}} - {{issueComment.CreatedOn | date:'yyyy-MM-dd HH:mm:ss'}}</h3>
            </div>
            <div class="panel-body">
                {{issueComment.Text}}
            </div>
        </div>
        <form ng-if="userParams.isIssueAssignee || userParams.hasAssignedIssueInProject || userParams.isProjectLead" class="form-inline" role="form">
            <div class="form-group">
                <textarea class="form-control col-md-10" rows="2" cols="70" ng-model="text" type="text" placeholder="Your comment"></textarea>
            </div>
            <div class="form-group">
                <button ng-click="addComment(text)" class="btn btn-default">Add</button>
            </div>
        </form>
    </ul>
</div>