<!--<div id="select-towns-categories" ng-if="!showStatuses">-->
    <!--<div class="list-group">-->
        <!--<h2>Categories</h2>-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item active"-->
                <!--ng-class="{'active' : selectedCategoryId == null}"-->
                <!--ng-click="categoryClicked(null)" >-->
                <!--All-->
            <!--</li>-->
            <!--<li ng-repeat="category in categories"-->
                <!--ng-click="categoryClicked(category.id)"-->
                <!--ng-class="{'active' : selectedCategoryId == category.id}" class="list-group-item">-->
                <!--{{category.name}}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
    <!--<div class="list-group">-->
        <!--<h2>Towns</h2>-->
        <!--<ul class="list-group">-->
            <!--<li class="list-group-item active"-->
                <!--ng-class="{'active' : selectedTownId == null}"-->
                <!--ng-click="townClicked(null)">-->
                <!--All-->
            <!--</li>-->
            <!--<li ng-repeat="town in towns"-->
                <!--ng-click="townClicked(town.id)"-->
                <!--ng-class="{'active' : selectedTownId == town.id}" class="list-group-item">-->
                <!--{{town.name}}-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
<!--<div ng-if="showStatuses">-->
        <!--<h2>Statuses</h2>-->
        <!--<ul class="list-group">-->
            <!--<li-->
                <!--ng-class="{'active' : selectedStatus == null}"-->
                <!--ng-click="statusClicked(null)" class="list-group-item">-->
                <!--All-->
            <!--</li>-->
            <!--<li-->
                    <!--ng-class="{'active' : selectedStatus == 'Inactive'}"-->
                    <!--ng-click="statusClicked('Inactive')" class="list-group-item">-->
                <!--Inactive-->
            <!--</li>-->
            <!--<li-->
                    <!--ng-class="{'active' : selectedStatus == 'Published'}"-->
                    <!--ng-click="statusClicked('Published')" class="list-group-item">-->
                <!--Published-->
            <!--</li>-->
            <!--<li-->
                    <!--ng-class="{'active' : selectedStatus == 'WaitingApproval'}"-->
                    <!--ng-click="statusClicked('WaitingApproval')" class="list-group-item">-->
                <!--Waiting Approval-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->
