<div>
    <div>
        <div class="col-md-6 form-group form-margin">
            <h2>Change Password</h2>
            <p>
                <label for="oldPassword">Old Password:</label>
                <input type="password" id="oldPassword" class="form-control" ng-model="passData.oldPassword" required>
            </p>
            <p>
                <label for="newPassword">Password:</label>
                <input type="password" id="newPassword" class="form-control" ng-model="passData.newPassword" required>
            </p>
            <p>
                <label for="confirmPassword">Confirm Password:</label>
                <input type="password" id="confirmPassword" class="form-control" ng-model="passData.confirmPassword" required>
            </p>
            <p>
                <a ng-click="changePassword(passData)" class="btn btn-primary">Change Password</a>
                <a href="#/" class="btn btn-default">Cancel</a>
            </p>
        </div>
    </div>

</div>